.main {
    background: linear-gradient(0deg,rgba(0,0,0,1),rgba(0,0,0,0.5)),
    url("https://s26.postimg.org/gllov1295/spaghetti-min.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

/* LANDING PAGE */

#main h3, h1 {
  font-family: 'Dancing Script', cursive;
}

#main h1 {
  font-size: 3em;
  padding-top: 0;
}

#main h3 {
  padding-top: 5%;
  padding-bottom: 0;
  font-size: 1.5em;
}

#love {
  color: #C60000;
}

#main p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #1E6725;
  font-size: 1.75em;
}

a:hover {
  color: #fff;
}


@media screen and (max-width: 700px) {
    .main {
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}